---
import Section from "@layouts/Section.astro";
import { Image } from "astro:assets";
import coreData from "@data/coreValues.json";
import Text from "@layouts/Text.astro";
import DynamicIcon from "./helpers/DynamicIcon.astro";
import ArrowR from "@icons/arrow--right.svg";
const { variant = "dark" } = Astro.props;
---

<Section background="secondary">
  <div class={`growing ${variant}`}>
    <div class="text">
      <div>
        <Text eyebrow="Growing with our clients" title={coreData.title} desc={coreData.subtitle} />
      </div>

      <button class="knap" href={coreData.button.link}>{coreData.button.text} </button>
    </div>

    <ul>
      {
        coreData.values.map((core) => (
          <li>
            <DynamicIcon name={core.icon} width={35} height={35} />
            <h2>{core.title}</h2>
            <p>{core.description}</p>
            <a class="read" href={core.link.url}>
              {core.link.text} <ArrowR class="arrow" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Section>

<style>
  @layer components {
    .growing {
      &.light {
        background-color: var(--primary-color);
      }

      &.dark {
        background-color: var(--secondary-color);
      }

      .text {
        text-align: left;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
      }

      h3,
      p {
        color: var(--primary-color);
      }

      h1 {
        color: var(--primary-color);
      }
      &.light h3,
      &.light h1,
      &.light p {
        color: var(--secondary-color);
      }
      &.light a {
        color: var(--primary-color);
        background-color: var(--secondary-color);
      }

      .knap {
        padding: 16px 31px;
        border-radius: 42px;
        border: 1px solid #ebebeb;
        background: #fff;
        color: #353535;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28.8px;
        text-decoration: none;

        place-self: end end;
      }
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding-block: 36px;

        a {
          color: #353535;
          font-family: Lato;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28.8px;
          text-decoration: none;
        }
      }

      li {
        border-radius: 20px;
        border: 1px solid #eaeaea;
        background: #f5f5f5;
        list-style: none;
        padding: 20px;
        align-self: start;

        svg {
          color: var(--primary-color);
          background-color: var(--secondary-color);
          border-radius: 30px;
          width: 19px;
          height: 20px;
          padding: 10px;
          box-sizing: content-box;
          overflow: visible;
        }
        .read {
          display: flex;
          align-items: center;
          .arrow {
            color: var(--secondary-color);
            background-color: var(--tertiary-color);
          }
        }
        p {
          color: #595566;
          font-size: 16px;
        }
        h2 {
          color: #181818;
          font-size: 20px;
        }
      }
    }
  }
</style>
